{% extends 'main_base.html' %}
{% block head %}
<link href="../static/lib/fastselect-master/dist/fastselect.css" rel="stylesheet">
<script src="../static/lib/fastselect-master/dist/fastselect.standalone.js"></script>
<script>
    $(document).ready(function () {
        create_table_btn_event();
        filter_add_btn_click_event();
        select_date_btn_event();
        itemChange();
        itemChange2();

        $('.multipleSelect').fastselect();
        $('#filter').on('change', function () {
            console.log("Filter Value is Changed");
            $('#sub_filter').data('fastselect').destroy();
            itemChange();
            $('.multipleSelect').fastselect();
        });
        $('#col_filter').on('change', function () {
            console.log("Col Filter Value is Changed");
            $('#sub_col_filter').data('fastselect').destroy();
            itemChange2();
            $('.multipleSelect').fastselect();
        });
    });

    function configSelectDropdown() {
        $('#sub_filter').selectDropdown({

            // max number of options to display within the dropdown button
            //maxListLength: 4,

            // hide the select
            hideSelect: true,

            // keeps dropdown open for multiselects.
            multiselectStayOpen: true,

            'badges': false,

            // enables fuzzy search
            search: true,

            // respects dynamic changes to the select options.
            observeDomMutations: false,

            // max height of the dropdown
            maxHeight: 'auto',

            // custom text
            textNoneSelected: "None selected",
            textMultipleSelected: "Multiple selected",
            textNoResults: "No results",
            htmlClear: "Clear search",

            // default CSS classes
            classDropdown: "dropdown",
            classBtnClear: "btn btn-outline-secondary",
            classBtnSearch: "btn btn-primary",
            classItem: "dropdown-item"
        });

        /*$("#condition").selectDropdown({
            'maxListLength': 4,
            'badges': false,
            'selectButtons': true,
            'htmlDeselectAll': '<svg class="ion"><use xlink:href="#ion-close-circled"></use></svg>',
            'htmlSelectAll': '<svg class="ion"><use xlink:href="#ion-checkmark-circled"></use></svg>'
        });*/

    }

    function itemChange() {
        var selectItem = $("#filter").val();
        var table_rows = $('#main_rows').val();
        table_rows = JSON_parse_convertor(table_rows);
        if (table_rows == undefined) {
            console.log('Table length is empty');
        } else {
            if (selectItem == "전체") {
                $('#sub_filter').empty();
                var option = $("<option> </option>");
                $('#sub_filter').append(option);
            } else if (selectItem == "위치") {
                var location_list = new Array();
                for (var i = 0; i < table_rows.length; i++) {
                    location_list[i] = table_rows[i]['location'];
                }
                var location_list_filtering = location_list.filter(function (item, idx, array) {
                    return array.indexOf(item) === idx;
                });
                console.log("Location : \n" + location_list_filtering);
                $('#sub_filter').empty();
                for (var count = 0; count < location_list_filtering.length; count++) {
                    var val = location_list_filtering[count];
                    var location_option = $("<option id=" + 'opt' + count + ">").append(val);
                    $('#sub_filter').append(location_option);
                    $('#opt' + count).val(val);
                }
            } else if (selectItem == "상태") {
                var state_list = new Array();
                for (var i = 0; i < table_rows.length; i++) {
                    state_list[i] = table_rows[i]['state'];
                }
                var state_list_filtering = state_list.filter(function (item, idx, array) {
                    return array.indexOf(item) === idx;
                });
                console.log("State : \n" + state_list_filtering);
                $('#sub_filter').empty();
                for (var count = 0; count < state_list_filtering.length; count++) {
                    var val = state_list_filtering[count].toString();
                    var state_option = $("<option id=" + 'opt' + count + ">").append(val);
                    $('#sub_filter').append(state_option);
                    $('#opt' + count).val(val);
                }
            }else if (selectItem == "사유") {
                var reason_list = new Array();
                for (var i = 0; i < table_rows.length; i++) {
                    reason_list[i] = table_rows[i]['state'];
                }
                var state_list_filtering = reason_list.filter(function (item, idx, array) {
                    return array.indexOf(item) === idx;
                });
                console.log("State : \n" + state_list_filtering);
                $('#sub_filter').empty();
                for (var count = 0; count < state_list_filtering.length; count++) {
                    var val = state_list_filtering[count].toString();
                    var state_option = $("<option id=" + 'opt' + count + ">").append(val);
                    $('#sub_filter').append(state_option);
                    $('#opt' + count).val(val);
                }
            }
        }
    }

    function itemChange2() {
        var selectItem = $("#col_filter").val();
        var table_rows = $('#main_rows').val();
        table_rows = JSON_parse_convertor(table_rows);
        if (table_rows == undefined) {
            console.log('Table length is empty');
        } else {
            if (selectItem == "전체") {
                $('#sub_col_filter').empty();
                var option = $("<option> </option>");
                $('#sub_col_filter').append(option);
            } else if (selectItem == "위치") {
                var location_list = new Array();
                for (var i = 0; i < table_rows.length; i++) {
                    location_list[i] = table_rows[i]['location'];
                }
                var location_list_filtering = location_list.filter(function (item, idx, array) {
                    return array.indexOf(item) === idx;
                });
                console.log("Location : \n" + location_list_filtering);
                $('#sub_col_filter').empty();
                for (var count = 0; count < location_list_filtering.length; count++) {
                    var val = location_list_filtering[count];
                    var location_option = $("<option id=" + 'opt' + count + ">").append(val);
                    $('#sub_col_filter').append(location_option);
                    $('#opt' + count).val(val);
                }
            } else if (selectItem == "상태") {
                var state_list = new Array();
                for (var i = 0; i < table_rows.length; i++) {
                    state_list[i] = table_rows[i]['state'];
                }
                var state_list_filtering = state_list.filter(function (item, idx, array) {
                    return array.indexOf(item) === idx;
                });
                console.log("State : \n" + state_list_filtering);
                $('#sub_col_filter').empty();
                for (var count = 0; count < state_list_filtering.length; count++) {
                    var val = state_list_filtering[count].toString();
                    var state_option = $("<option id=" + 'opt' + count + ">").append(val);
                    $('#sub_col_filter').append(state_option);
                    $('#opt' + count).val(val);
                }
            }
        }
    }

    function create_table_btn_event() {
        $('#create_table').on('click', function () {
            $('#main_table').empty();
            // Table initialization
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var filter = $('#filter').val();
            var sub_filter = $('#sub_filter').val();
            var condition_value = $('#condition').val();
            console.log("Sub Filter : " + typeof (sub_filter));
            console.log(sub_filter);
            console.log(condition_value);
            // if (filter_value == undefined || received_id == 'None')
            //     alert("Detail modal error");

            $.ajax({
                url: "/create_table",
                data: {
                    'sdate': startDate,
                    'edate': endDate,
                    'filter': filter,
                    'sub_filter': sub_filter,
                    'condition': condition_value
                },
                type: "GET",
                traditional: true,
                dataType: "json"
            })
                .done(function (json) {
                    console.log("Detail Table Ajax is DONE");
                    console.log(json);

                    if (json) {
                        $('#main_table > thead').append(
                            $('<tr>').append(
                                $('<td>').append("모델"),
                                $('<td>').append("수량")
                            )
                        );

                        for (var i = 0; i < json.length; i++) {
                            $('#main_table').append(
                                $('<tr>').append(
                                    $('<td>').append(json[i]['model']),
                                    $('<td>').append(json[i]['num'])
                                )
                            );
                        }
                    } else {
                        alert("Empty");
                    }
                })
                .fail(function (xhr, status, errorThrown) {
                    $("#error_text").html("오류발생<br>")
                        .append("오류명 : " + errorThrown + "<br>")
                        .append("상태 : " + status);
                })
                .always(function (xhr, status) {
                    //$("#detail_table").html("요청 완료");
                });
        });
    }

    function filter_add_btn_click_event() {
        $(document).on('click', '.delete_filter', function () {
            console.log("DELETE");
            $('#filter_add_space > div:last').remove();
        });
        $('#filter_add_btn').on('click', function () {
            if ($('#filter_add_space > div').length > 2) {
                alert("필터는 최대 한개까지 추가 가능합니다.");
            } else if ($('#filter_add_space > div').length >= 0) {
                $('#filter_add_space').append(
                    $('<div>').append(
                        $('<select id="second_filter" name="second_filter" class="btn btn-secondary col-auto" value="">\n' +
                            '<option selected>전체</option>\n' +
                            '<option>위치</option>\n' +
                            '<option>상태</option>\n' +
                            '<option>사유</option>\n' +
                            '</select>'),
                        $('<select id="second_sub_filter" name="second_sub_filter" class="btn btn-secondary col-auto" value="">'),
                        $('<button type="button" class="btn btn-dark delete_filter" id="delete_filter" >삭 제</button>')
                    )
                )
            }
        });
    }

    function select_date_btn_event() {
        $('#select_year_btn').on('click', function () {
            var date = new Date();
            var day = date.getDate();
            var year = date.getFullYear() - 1;
            var month = date.getMonth() + 1;
            month = month.toString();
            if (month.length === 1) {
                month = '0' + month;
            }
            var time = year + '-' + month + '-' + day;
            console.log(time);
            document.getElementById("startDate").value = time;
        });
        $('#select_month_btn').on('click', function () {
            var date = new Date();
            var day = date.getDate();
            var year = date.getFullYear();
            var month = date.getMonth().toString();
            if (month.length === 1) {
                month = '0' + month;
            }
            var time = year + '-' + month + '-' + day;
            console.log(time);
            document.getElementById("startDate").value = time;
        });
    }
</script>
{% endblock %}
{% block title %} 통계 페이지 {% endblock %}
{% block body_title %}Title{% endblock %}
{% block main_title %} 테이블 통계 {% endblock %}
{% block body %}
<input hidden id="main_rows" value="{{ object.main_table_rows() }}"/>
<input hidden id="specific_list" value="{{ 1 }}"/>
<div class="row container-fluid">
    <input type="date" id="startDate" name="startDate" value={{ object.date() }} class="btn col-auto btn-primary">
    <input type="date" id="endDate" name="endDate" value={{ object.date() }}
           class="btn col-auto1 btn-primary date_box">
    <input type="hidden" name="page" value="p_page"/>
    <button type="button" id="select_year_btn" class="btn btn-primary offset-1 col-1">1년 전</button>
    <button type="button" id="select_month_btn" class="btn btn-primary col-1">한달 전</button>
    <button type="button" id="filter_add_btn" class="btn btn-secondary col-auto">필터 추가</button>
</div>
<div class="row container-fluid">
    <select id="filter" name="filter" class="btn btn-secondary col-auto" value="">
        <option selected>전체</option>
        <option>위치</option>
        <option>상태</option>
    </select>
    <select multiple id="sub_filter" name="sub_filter" class="multipleSelect" value="">
        <!-- Dynamic creation -->
    </select>
    <div class="form-group">
        <select id="condition" name="condition" class="form-control col-auto offset-2" value="">
            <option value="1" selected> A</option>
            <option value="2"> B</option>
            <option value="3"> C</option>
            <option value="4"> D</option>
        </select>
    </div>
    <button type="button" id="create_table" class="btn btn-secondary col-auto">테이블 생성</button>
</div>
<div class="row container-fluid">
    <select id="col_filter" name="col_filter" class="btn btn-secondary col-auto" value="">
        <option selected>전체</option>
        <option>위치</option>
        <option>상태</option>
        <option>사유</option>
    </select>
    <select multiple id="sub_col_filter" name="sub_col_filter" class="multipleSelect" value="">
        <!-- Dynamic creation -->
    </select>
</div>
<div id="filter_add_space" class="container-fluid">
    <!-- Dynamic Second Filter -->
</div>
<hr/>
<table class="table table-bordered table-striped table-sm text-center tablesorter" id="main_table">
    <thead class="header-sort thead-dark">
    </thead>
    <tbody>
        <!--  Call of the Java Script Function (table) -->
    </tbody>
</table>
<!-- Pageination -->
<div class="text-center center-block">
    <div id="page_content"></div>
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination" style="justify-content: center;"></ul>
    </nav>
</div>
<!-- Test Table -->
<hr/>
{% endblock %}