{% extends 'base.html' %}
{% block title %} Index Page {% endblock %}
{% block body %}

<script>

    $(document).ready(function () {

        $("#selectBtn").click(function () {
            alert('hi');
            var rowData = new Array();
            var tdArr = new Array();
            var checkbox = $("input[name=user_CheckBox]:checked");

            // 체크된 체크박스 값을 가져온다
            checkbox.each(function (i) {

                // checkbox.parent() : checkbox의 부모는 <td>이다.
                // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
                var tr = checkbox.parent().parent().eq(i);
                var td = tr.children();

                // 체크된 row의 모든 값을 배열에 담는다.
                rowData.push(tr.text());

                // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.
                var no = td.eq(1).text() + ", "
                var userid = td.eq(2).text() + ", ";
                var name = td.eq(3).text() + ", ";
                var email = td.eq(4).text() + ", ";

                // 가져온 값을 배열에 담는다.
                tdArr.push(no);
                tdArr.push(userid);
                tdArr.push(name);
                tdArr.push(email);

                //console.log("no : " + no);
                //console.log("userid : " + userid);
                //console.log("name : " + name);
                //console.log("email : " + email);
            });

            $("#ex3_Result1").html(" * 체크된 Row의 모든 데이터 = " + rowData);
            $("#ex3_Result2").html(tdArr);
        });

        // 체크 박스 모두 체크
        $("#checkAll").click(function () {
            $("input[name=box]:checkbox").each(function () {
                $(this).attr("checked", true);
            });
        });

        // 체크 박스 모두 해제
        $("#uncheckAll").click(function () {
            $("input[name=box]:checkbox").each(function () {
                $(this).attr("checked", false);
            });
        });

        // 체크 되어 있는 값 추출
        $("#getCheckedAll").click(function () {
            $("input[name=box]:checked").each(function () {
                var test = $(this).val();
                alert(test);
            });
        });

        // 서버에서 받아온 데이터 체크하기 (콤마로 받아온 경우)
        $("#updateChecked").click(function () {
            var splitCode = $("#splitCode").val().split(",");
            for (var idx in splitCode) {
                $("input[name=box][value=" + splitCode[idx] + "]").attr("checked", true);
            }
        });

        // test case
        test1();
    });

    function test1() {
        console.log("################################################");
        console.log("## test1 START");
        console.log("################################################");

        //var cnt = $("input:checkbox").size();
        //console.log("checkboxSize=" + cnt);

        $("input[name=box]:checkbox").each(function () {
            var checkboxValue = $(this).val();
            console.log("checkboxValue=" + checkboxValue);
        });

        console.log("----------------------------------------------");

        $("#checkboxArea").children().each(function () {
            var checkboxValue = $(this).children(":checkbox").val();
            var text = $(this).children().eq(1).text();
            console.log(text + "=" + checkboxValue);
        });
    }

</script>
<h1>777 Success :)</h1>
<p>Happy Hello Wolrd !!.<p>
    <a href="{{ url_for('index') }}">go somewhere nice</a>
    <br><br>

<div id="checkboxArea">
    <li><input type="checkbox" name="box" value="A"/><label>1번째 checkbox</label></li>
    <li><input type="checkbox" name="box" value="B"/><label>2번째 checkbox</label></li>
    <li><input type="checkbox" name="box" value="C"/><label>3번째 checkbox</label></li>
    <li><input type="checkbox" name="box" value="D"/><label>4번째 checkbox</label></li>
</div>

<br/><br/>

<div id="buttonGroups">
    <input type="button" id="checkAll" value="check all"/>
    <input type="button" id="uncheckAll" value="uncheck all"/>
    <input type="button" id="getCheckedAll" value="get checked all"/>
    <input type="button" id="updateChecked" value="updateChecked"/>
</div>

<input type="hidden" id="splitCode" name="splitCode" value="A,C,D"/>
<br><br>

<br><br>
	<div class="row">
		<button type="button" class="btn btn-outline btn-primary pull-right" id="selectBtn">선택</button>
		<table id="example-table-3" width="100%" class="table table-bordered table-hover text-center">
			<thead>
				<tr>
					<th>선택</th>
					<th>No. </th>
					<th>아이디</th>
					<th>이름</th>
					<th>이메일</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" name="user_CheckBox" ></td>
					<td>1</td>
					<td>user07</td>
					<td>NC소프트</td>
					<td>nc@gmail.com</td>

				</tr>
				<tr>
					<td><input type="checkbox" name="user_CheckBox" ></td>
					<td>2</td>
					<td>user08</td>
					<td>넥슨</td>
					<td>donson@naver.com</td>

				</tr>
				<tr>
					<td><input type="checkbox" name="user_CheckBox" ></td>
					<td>3</td>
					<td>user09</td>
					<td>넷마블</td>
					<td>net@gmail.com</td>
				</tr>
			</tbody>
		</table>
		<div class="col-lg-12" id="ex3_Result1" ></div>
		<div class="col-lg-12" id="ex3_Result2" ></div>
	</div>
<br><br>

{%endblock%}
