{% extends 'main_base.html' %}
{% block head %}
<script>
    $(document).ready(function () {
        pagination_test('manufacture', 10);
        add_and_delete_row_btn('manufacture');

        $('#insert_btn').click(function () {
            $('#insert_table > tbody:last').empty();
            insert_manufacture_table();

        });
        $('#insert_submit_btn').click(function () {
            if ($('#insert_model').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#insert_model').focus();
                return false;
            }
            if ($('#insert_number').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#insert_number').focus();
                return false;
            }
            if ($('#insert_week').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#insert_week').focus();
                return false;
            }
        });
    });
</script>
{% endblock %}
{% block title %} 생산 페이지 {% endblock %}
{% block body_title %}Title{% endblock %}
{% block main_title %}생산 관리{% endblock %}
{% block body %}
<input hidden id="main_rows" value="{{ object.manufacture_list() }}"/>
<input hidden id="specific_list" value="{{ specific_list }}"/>
<div class="row container-fluid">
    <button type="button" id="insert_btn" class="btn btn-warning col-2 offset-9" data-toggle="modal"
            data-target="#insert_modal">
        등록
    </button>
</div>
<hr/>
<table class="table table-bordered table-striped table-sm text-center tablesorter" id="main_table">
    <thead class="header-sort thead-dark">
    <tr>
        <!--<th>번호</th>-->
        <th>주차</th>
        <th>모델</th>
        <th>생산수량</th>
        <th>Aging</th>
        <th>완료</th>
        <th>등록일</th>
        <th>버튼</th>
    </tr>
    </thead>
    <tbody>
        <!--  Call of the Java Script Function (table) -->
        </tbody>
</table>
<!-- Pageination -->
<div class="text-center center-block">
    <div id="page_content"></div>
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination" style="justify-content: center;"></ul>
    </nav>
</div>
<!-- Test Table -->
<hr/>
<!--<table class="table table-bordered table-striped" id="test_table">-->
<!--<thead class="thead-light">-->
<!--<tr>-->
<!--<th>Id</th>-->
<!--<th>Week</th>-->
<!--<th>Model</th>-->
<!--<th>Number</th>-->
<!--<th>Date</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--&lt;!&ndash;  Call of the Java Script Function (table) &ndash;&gt;-->
<!--</tbody>-->
<!--</table>-->
<!-- The Product Insert Modal -->
<div class="modal fade" id="insert_modal">
    <div class="modal-dialog modal-lg">
        <form class="form-inline" action="/manufacture_insert" method="POST" enctype=multipart/form-data>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h1 class="page-header">등 록</h1>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered text-center" id="insert_table">
                            <thead class="thead-light">
                            <tr>
                                <th style="border-bottom: 3px solid white">주차</th>
                                <th style="border-bottom: 3px solid white"><input type="text" class="form-control"
                                                                                  id="insert_week" name="week"
                                                                                  value={{object.week()}}></th>
                            </tr>
                            <tr>
                                <th>모델명</th>
                                <th>신규 생산 수량
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <!-- insert_manufacture_table().js -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" id='btn-add-row' class="btn offset-4 btn-secondary">행 추가하기</button>
                    <button type="button" id='btn-delete-row' class="btn btn-secondary">행 삭제하기</button>
                    <button type="submit" id="insert_submit_btn" class="btn btn-warning">확 인
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}