{% extends 'main_base.html' %}
{% block head %}
<script>
    function winPop(url, opts) {
        var popupName = opts.name || 'popup';
        var options = '';
        options += 'width=' + (opts.width ? opts.width : 200) + ', height=' + (opts.height ? opts.height : 200);
        options += opts.left && opts.width ? ', left=' + opts.left : ', left=' + ((screen.availWidth - opts.width) / 2);
        options += opts.top && opts.height ? ', top=' + opts.top : ', top=' + ((screen.availHeight - opts.height) / 2);
        options += opts.scrollbars ? ', scrollbars=' + opts.scrollbars : ', scrollbars=no';
        options += opts.resizable ? ', resizable=' + opts.resizable : ', resizable=no';
        console.log(popupName);
        window.open(url, popupName, options);
    }

    function hi() {

        var checkbox = $("input[name=checkbox]:checked");

        checkbox.each(function (i) {


            var result = $('input[name="checkbox"]').each(function () {
                if (this.checked == true) {
                    //return $('input:checkbox[name="checkbox"]').val();
                    var a = Array;
                    a = this.value;
                    alert(a);
                }
            });

        });
    }

    function change() {
        var tmp = $('[name=checkYN[]]').prop('checked'); // 변수에 넣기
        if (tmp == true) {
            return $('[name=YN[]]').val('Y');
        } else {
            return $('[name=YN[]]').val('N');
        }
        alert(tmp);

    }

    $('input:checkbox[name="checkYN"]').each(function () {

        this.checked = true; //checked 처리

        if (this.checked) {//checked 처리된 항목의 값

            alert(this.value);

        }

        if ($('#checkYN').is(":checked")) {
            $("#YN").val("Y");
        } else {
            $("#YN").val("N");
        }
    });

</script>
{% endblock %}
{% block title %} 재고관리 페이지 {% endblock %}
{% block body_title %}Title{% endblock %}
{% block main_title %}재고관리 화면{% endblock %}
{% block body %}
<form class="form-inline" action="/search" method="POST">
    <div class="row container-fluid">
        <input type="date" name="startDate" value={{now_sdate}} class="col-2 btn-primary">
        <input type="date" name="endDate" value={{now_edate}} class="col-2 btn-primary date_box">
        <input type="hidden" name="page" value="p_page"/>
        <button type="submit" class="btn col-1 btn-warning">검색</button>
    </div>
</form>
<hr/>
<div class="row container-fluid">
    <button type="button" class="btn btn-primary col-1" onclick="location.href='/all_collection'">전체</button>
    <button type="button" class="btn btn-primary col-1">필터 예정</button>
    <!--<button type="button" class="btn btn-warning col-1 offset-3" onclick="">생산실적조회</button>-->
    <a href="/insert_plan" class="btn btn-warning col-1 offset-3"
       onclick="winPop(this.href, {name:'insert_excel',width:1500,height:800}); return false;">생산계획입력 </a>
    <!--<button type="button" class="btn btn-warning col-1 " data-toggle="modal" data-target="#shipment_modal">출고</button>-->
    <button type="button" class="btn btn-warning col-1 " data-toggle="modal" data-target="#shipment_modal">상태 변경</button>
    <!-- The Modal -->
    <div class="modal fade" id="shipment_modal">
        <div class="modal-dialog modal-lg">
            <form class="form-inline" action="/shipment_data" method="POST" enctype=multipart/form-data>
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-white bg-secondary">
                        <h1 class="page-header">상태 변경 화면</h1>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="table-responsive">
                            {% if shipment_modal_rows[0] %}
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>모델명</th>
                                    <th>시리얼넘버</th>
                                    <th>위치</th>
                                    <th>상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in shipment_modal_rows %}
                                <tr>
                                    <th>
                                        <div class="checkbox">
                                            <input type="checkbox" name="check_box"
                                                   value="{{ row['_id'] }}"/> {{ row["model"] }}
                                            <input type="hidden" name="id" value='{{ row["_id"] }}'/>
                                        </div>
                                    </th>
                                    <th> {{ row["sn"] }}</th>
                                    <th><input type="text" class="form-control" name="location"
                                               value='{{ row["location"] }}'></th>
                                    <th>
                                        <select class="form-control" name="state" value='{{ row["state"] }}'>
                                            <option>재고</option>
                                            <option>판매</option>
                                            <option>기증</option>
                                            <option>내수용</option>
                                            <option>A/S 입고</option>
                                            <option>불량</option>
                                            <option>폐기</option>
                                        </select></th>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h3> No Notice in the CheckBox</h3>
                            <input type="hidden" name="data_empty" value='{{ true }}'/>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">확 인
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <button type="button" class="btn btn-warning col-1" data-toggle="modal" data-target="#insert_modal"> 등록</button>
    <!-- The Modal -->
    <div class="modal fade" id="insert_modal">
        <div class="modal-dialog modal-lg">
            <form class="form-inline" action="/insert_data" method="POST" enctype=multipart/form-data>
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h1 class="page-header">등 록</h1>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>모델명</th>
                                    <th>시리얼넘버</th>
                                    <th>담당자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>
                                        <select class="from-control" id="insert_model" name="model">
                                            <option>Indy3</option>
                                            <option>Indy5</option>
                                            <option>Indy7</option>
                                            <option>Opti</option>
                                            <option>Step-pc2</option>
                                            <option>Core</option>
                                            <option>Conty</option>
                                        </select>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" id="insert_sn" name="sn"></th>
                                    <th>
                                        <input type="text" class="form-control" id="insert_header" name="header"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" onclick="location.href='/insert_data'">확 인
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<hr/>
<div class="table-responsive">
    {% if rows[0] %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>모델명</th>
            <th>시리얼 넘버</th>
            <th>생산 주차</th>
            <th>위치</th>
            <th>상태</th>
            <th>추적</th>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <th> {{ row["model"] }}</th>
            <th> {{ row["sn"] }}</th>
            <th> {{ row["week"] }}</th>
            <th> {{ row["location"] }}</th>
            <th> {{ row["state"] }} </th>
            <th> 상세조회</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3> No Notice in the Database</h3>
    {% endif %}
</div>
{% endblock %}
