{% extends 'main_base.html' %}
{% block head %}
<script>
    // As Jquery same the [ window.onload = function(){} ]
    $(document).ready(function () {
        main_table();
        btn_click_event();
        state_change_table();
        detail_tabler();
        insert_table();
        model_filter();
        location_filter();
        state_filter();
        main_table_info();
        detect_model_filter();
        detect_location_filter();
        detect_state_filter();
        $('#state_submit_btn').click(function () {
            if ($('#state').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#state').focus();
                return false;
            }
        });
        $('#insert_submit_btn').click(function () {
            if ($('#insert_sn').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#insert_sn').focus();
                return false;
            }
            if ($('#insert_header').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#insert_header').focus();
                return false;
            }
        });
        $('#startDate').change(function () {
            console.log("Start Date Click");
            var a = $('#startDate').val();
            console.log(a);
            document.getElementById("sDate").value = $('#startDate').val();
            var b = $('#sDate').val();
            console.log(b);
        });
        $('#endDate').change(function () {
            console.log("End Date Click");
            var a = $('#endDate').val();
            console.log(a);
            document.getElementById("eDate").value = $('#endDate').val();
            var b = $('#eDate').val();
            console.log(b);
        });
    });

</script>
{% endblock %}
{% block title %} 재고관리 페이지 {% endblock %}
{% block body_title %}Title{% endblock %}
{% block main_title %}재고관리 화면{% endblock %}
{% block body %}
<form class="form-inline" action="/search" method="POST">
    <div class="row container-fluid">
        <input type="date" id="startDate" name="startDate" value={{object.date()}} class="col-auto1 btn-primary">
        <input type="date" id="endDate" name="endDate" value={{object.date()}} class="col-auto1 btn-primary date_box">
        <input type="hidden" name="page" value="p_page"/>
        <button type="submit" class="btn col-1 btn-warning">검색</button>
    </div>
</form>
<hr/>
<form class="form-inline" action="/filtering2" method="POST">
    <input hidden id="sDate" name="sDate" value="">
    <input hidden id="eDate" name="eDate" value="">
    <div class="container-fluid">
        <div>
            <!--<button type="button" class="btn btn-primary col-1" onclick="location.href='/all_collection'">전체</button>-->
            <button type="button" class="btn btn-secondary col-1" onclick="location.href='/'">전체</button>
        </div>
        <div>
            <select id="model_filter" name="model_filter" class="btn btn-secondary col-1" value="">
                <option hidden>모델</option>
            </select>
        </div>
        <div>
            <select id="location_filter" name="location_filter" class="btn btn-secondary col-1" value="">
                <option hidden>위치</option>
            </select>
        </div>
        <div>
            <select id="state_filter" name="state_filter" class="btn btn-secondary col-1" value="">
                <option hidden>상태</option>
            </select>
        </div>
        <div>
            <!--<a href="/insert_plan" class="btn btn-warning col-1 offset-6"
               onclick="winPop(this.href, {name:'insert_excel',width:1500,height:800}); return false;">생산계획입력 </a>-->
            <button type="submit" class="btn btn-secondary col-1">필터 적용</button>
            <button type="button" class="btn btn-warning col-1 offset-6" data-toggle="modal" data-target="#shipment_modal">상태 변경
            </button>
            <button type="button" class="btn btn-warning col-1" data-toggle="modal" data-target="#insert_modal"> 등록
            </button>
        </div>
    </div>
</form>
<hr/>
{% if object.production_main_model()[0] %}
<input hidden id="info_list" value="{{ object.production_main_info_list() }}"/>
<input hidden id="model_list" value="{{ object.production_main_model() }}"/>
<input hidden id="history_list" value="{{ object.production_main_history() }}"/>
<input hidden id="specific_date_list" value="{{ date_rows }}"/>
<input hidden id="main_table_list" value="{{ object.main_table_rows() }}"/>
<table class="table table-striped table-bordered table-sm" id="main_table">
    <thead class="thead-dark">
    <tr>
        <th>모델명</th>
        <th>시리얼 넘버</th>
        <th>생산 주차</th>
        <th>위치</th>
        <th>상태</th>
        <th>추적</th>
    </tr>
    </thead>
    <tbody>
    <!--  Call of the Java Script Function (table) -->
    </tbody>
</table>
{% else %}
<h3> No Notice in the Database</h3>
{% endif %}
</div>
<hr>
<div class="col-lg-12" id="ex3_Result1"></div>
<div class="col-lg-12" id="ex3_Result2"></div>
<!-- Test Part -->

<!-- The Product Insert Modal -->
<div class="modal fade" id="insert_modal">
    <div class="modal-dialog modal-lg">
        <form class="form-inline" action="/insert_data" method="POST" enctype=multipart/form-data>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-white bg-secondary">
                    <h1 class="page-header">등 록</h1>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="insert_table">
                            <thead class="thead-dark">
                            <tr>
                                <th>모델명</th>
                                <th>시리얼넘버</th>
                                <th>담당자</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" id="insert_submit_btn" class="btn btn-warning">확 인
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modify State The Modal -->
<div class="modal fade" id="shipment_modal">
    <div class="modal-dialog modal-lg">
        <form class="form-inline" action="/state_change" method="POST" enctype=multipart/form-data>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-white bg-secondary">
                    <h1 class="page-header">상태 변경 화면</h1>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        {% if object.production_main_model()[0] %}
                        <table class="table table-striped table-bordered" id="state_table">
                            <thead class="thead-dark">
                            <tr>
                                <th>모델명</th>
                                <th>시리얼 넘버</th>
                                <th>위치</th>
                                <th>사유</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--  Call of the Java Script Function (table) -->
                            </tbody>
                        </table>
                        {% else %}
                        <h3> No Notice in the CheckBox</h3>
                        <input type="hidden" id="state_submit_btn" name="data_empty" value='{{ true }}'/>
                        {% endif %}
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">확 인
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- The Detail Console Modal -->
<div class="modal fade" id="detail_modal">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-white bg-secondary table-responsive">
                <table class="table table-borderless" id="detail_info">
                    <thead>
                    <tr>
                        <th><h1>상세 화면</h1></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--  Call of the Java Script Function (table) -->
                    </tbody>
                </table>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                {% if object.production_main_info_list()[0] %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="detail_table">
                        <thead class="thead-dark">
                        <tr>
                            <th>날짜</th>
                            <th>위치</th>
                            <th>상태</th>
                            <th>비고(사유)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--  Call of the Java Script Function (table) -->
                        </tbody>
                    </table>
                    {% else %}
                    <h3> No Notice in the CheckBox</h3>
                    <input type="hidden" name="data_empty" value='{{ true }}'/>
                    {% endif %}
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">확 인
                </button>
            </div>
        </div>

    </div>
</div>
{% endblock %}
