{% extends 'main_base.html' %}
{% block head %}
<script>
    function register_of_pn() {
        $('#insert_pn_table').append(
            $('<tr>').append(
                $('<td><input type="text" id="pn_field" class="form-control" name="pn_field">'),
                $('<td><input type="text" id="project_name_field" class="form-control" name="project_name_field">')
            )
        );
    }

    function register_of_partner() {
        $('#insert_partner_table').append(
            $('<tr>').append(
                $('<th>구분</th>'),
                $('<th>업체명</th>'),
                $('<th>품명</th>'),
                $('<th>주소</th>')
            ),
            $('<tr>').append(
                $('<td><input type="text" id="classification_field" class="form-control" name="classification">'),
                $('<td><input type="text" id="partner_name_field" class="form-control" name="partner_name_field">'),
                $('<td><input type="text" id="b_field" class="form-control" name="b_field">'),
                $('<td><input type="text" id="address_field" class="form-control" name="address_field">')
            ),
            $('<tr>').append(
                $('<th>담당자</th>'),
                $('<th>연락처</th>'),
                $('<th>E-mail</th>'),
                $('<th>비고</th>')
            ),
            $('<tr>').append(
                $('<td><input type="text" id="header_field" class="form-control" name="header_field">'),
                $('<td><input type="text" id="phone_field" class="form-control" name="phone_field">'),
                $('<td><input type="text" id="email_field" class="form-control" name="email_field">'),
                $('<td><input type="text" id="var_field" class="form-control" name="var_field">')
            )
        );
    }

    function register_of_order() {
        $('#obtain_order_table').append(
            $('<tr>').append(
                $('<td colspan="2"><input type="text" id="product_field" class="form-control" name="product_field">'),
                $('<td><input type="text" id="number_of_field" class="form-control" name="number_of_field">'),
                $('<td><input type="text" id="day_limit_filed" class="form-control" name="day_limit_filed">')
            )
        );
    }

    function main_sales_table(rows, specific_rows, startRow, endRow) {
        if (specific_rows != undefined && specific_rows != 'None' && specific_rows != 0) {
            console.log("Specific Rows : " + specific_rows + "  바꿔야행 ");
            //make_main_specific_table(rows);
        } else if (rows == undefined) {
            console.log('Main Table length is empty');
        } else {
            make_sales_table(rows, startRow, endRow);
            //make_main_specific_table(rows); // Test
        }
    }

    function make_sales_table(rows, startRow, endRow) {
        if (rows == undefined) {
            console.log('Main Table length is empty');
        } else if (rows == 0) {
            alert("필터를 적용할 대상이 없습니다.");
            return false;
        } else {
            if (typeof (rows) == "string")
                rows = JSON_parse_convertor(rows);
            $('#main_table > tbody:last').empty();
            for (var i = startRow; i < endRow; i++) {
                $('#main_table').append(
                    $('<tr>').append(
                        //$('<td><input type="checkbox" name="main_checkbox"/>').append(model_row[i]['model']),
                        $('<td class="align-middle">').append(rows[i]['pn']),
                        $('<td class="align-middle">').append(rows[i]['project_name']),
                        $('<td class="align-middle"><button type="button" name="detail_btn" value="" class="detail_btn_class btn btn-warning" data-toggle="modal" data-target="#detail_modal">자세히</button>')
                        //$('<td>').append(rows[i]['model'])
                    )
                );
            }
        }
    }

    function getNoneTable(tableId, colspan){
        console.log("None Table Id : " + tableId);
        $('#' + tableId).append(
            $('<tr>').append(
                $('<td colspan=' + colspan + '><h1>Table Is Empty</h1></td>')
            )
        );
    }

    $(document).ready(function () {
        pagination_test('sales_main', 5);
        register_of_partner();
        register_of_order();
        register_of_pn();

        $('#submit_pn').click(function () {
            if ($('#pn_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#pn_field').focus();
                return false;
            }
            if ($('#project_name_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#project_name_field').focus();
                return false;
            }
        });
        $('#submit_partner').click(function () {
            if ($('#classification_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#classification_field').focus();
                return false;
            }
            if ($('#partner_name_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#partner_name_field').focus();
                return false;
            }
            if ($('#b_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#b_field').focus();
                return false;
            }
            if ($('#address_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#address_field').focus();
                return false;
            }
            if ($('#pn_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#pn_field').focus();
                return false;
            }
            if ($('#phone_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#phone_field').focus();
                return false;
            }
            if ($('#email_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#email_field').focus();
                return false;
            }
            if ($('#var_field').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#var_field').focus();
                return false;
            }
        });
        $('#submit_order').click(function () {
            if ($('#').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#').focus();
                return false;
            }
            if ($('#').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#').focus();
                return false;
            }
        });
        $('#insert_submit_btn').click(function () {
            if ($('#').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#').focus();
                return false;
            }
            if ($('#').val().length == 0) {
                alert("빈 칸을 입력하세요");
                $('#').focus();
                return false;
            }
        });
    });
</script>
{% endblock %}
{% block title %} 영업 페이지 {% endblock %}
{% block body_title %}Title{% endblock %}
{% block main_title %}영업{% endblock %}
{% block body %}
<input hidden id="main_rows" value="{{ object.sales_list() }}"/>
<input hidden id="specific_list" value="{{ specific_list }}"/>
<form class="form-inline" action="/" method="POST">
    <div class="row container-fluid">
        <button type="button" class="btn btn-warning col-1" data-toggle="modal" data-target="#insert_pn">
            P/N 등록
        </button>
        <button type="button" class="btn btn-warning col-1" data-toggle="modal" data-target="#insert_partner">
            협력업체 등록
        </button>
        <button type="button" class="btn btn-warning col-1" data-toggle="modal" data-target="#obtain_order">
            수주
        </button>
        <button type="button" class="btn btn-warning col-1" data-toggle="modal" data-target="#insert_modal">
            납품
        </button>
        <button type="button" class="btn btn-success col-1 offset-3" data-toggle="modal" data-target="#">
            ????
        </button>
        <button type="button" class="btn btn-success col-1" data-toggle="modal" data-target="#">
            협력업체 리스트
        </button>
    </div>
</form>
<hr/>
<div class="row container-fluid">
    <table class="table table-bordered table-striped text-center" id="main_table">
        <thead class="thead-dark">
        <tr>
            <th>Project Number</th>
            <th>업체명</th>
            <th>수주내용</th>
        </tr>
        </thead>
        <tbody>
        <!--  Call of the Java Script Function (table) -->
        </tbody>
    </table>
</div>
<div class="text-center center-block">
    <div id="page_content"></div>
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination" style="justify-content: center;"></ul>
    </nav>
</div>
<!-- The P/N Register Modal -->
<div class="modal fade" id="insert_pn">
    <div class="modal-dialog modal-lg">
        <form class="form-inline" action="/registerPN" method="POST" enctype=multipart/form-data>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-white bg-secondary">
                    <h1 class="page-header">P/N 등록</h1>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="insert_pn_table">
                            <thead class="thead-light">
                            <tr>
                                <th>Project Number</th>
                                <th>프로젝트 이름</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" id="submit_pn" class="btn btn-warning">등 록
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- The Partner List Modal -->
<div class="modal fade" id="insert_partner">
    <div class="modal-dialog modal-xl">
        <form class="form-inline" action="/registerPartner" method="POST" enctype=multipart/form-data>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-white bg-secondary">
                    <h1 class="page-header">협력업체 등록</h1>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="insert_partner_table">
                            <thead class="thead-light">
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" id="submit_partner" class="btn btn-warning">등 록
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- The Option Order Modal -->
<div class="modal fade" id="obtain_order">
    <div class="modal-dialog modal-lg">
        <form class="form-inline" action="/manufacture_insert" method="POST" enctype=multipart/form-data>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-white bg-secondary">
                    <h1 class="page-header">수 주</h1>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="obtain_order_table">
                            <thead class="thead-light">
                            <tr>
                                <th>업체명</th>
                                <th><input type="text" class="form-control" id="partner" name="week"></th>
                                <th>Project Number</th>
                                <th><input type="text" class="form-control" id="pn_number" name="week"></th>
                            </tr>
                            <tr>
                                <th colspan="4">수주 내용</th>
                            </tr>
                            <tr>
                                <th colspan="2">제품</th>
                                <th>수량</th>
                                <th>납기</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" id="submit_order" class="btn btn-warning">등 록
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- The Sales Modal -->
<div class="modal fade" id="insert_modal">
    <div class="modal-dialog modal-lg">
        <form class="form-inline" action="/manufacture_insert" method="POST" enctype=multipart/form-data>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-white bg-secondary">
                    <h1 class="page-header">납 품</h1>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="insert_table">
                            <thead class="thead-light">
                            <tr>
                                <th>모델명</th>
                                <th>시리얼 넘버</th>
                                <th>위치</th>
                                <th>사유</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" id='btn-add-row' class="btn offset-4 btn-secondary">행 추가하기</button>
                    <button type="button" id='btn-delete-row' class="btn btn-secondary">행 삭제하기</button>
                    <button type="submit" id="insert_submit_btn" class="btn btn-warning">납 품
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}